html, body {
    margin: 0;
    padding: 0;
  }

.scroll-container {
    height: 99vh;
    position: relative;
}

/* Background gradients and animations */
:root {
    --color-bg1: rgb(0, 0, 0);
    --color-bg2: rgb(0, 1, 3);
    --color1: 50, 0, 0;
    --color2: 80, 10, 0;
    --color3: 70, 1, 1;
    --color4: 40, 10, 1;
    --color5: 20, 10, 0;
    --color-interactive: 100, 1, 1;
    --circle-size: 80%;
    --blending: hard-light;
    }
    
    @keyframes moveInCircle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }
    
    @keyframes moveVertical {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-50%);
    }
    }
    
    @keyframes moveHorizontal {
    0% {
        transform: translateX(-50%) translateY(-10%);
    }
    50% {
        transform: translateX(50%) translateY(10%);
    }
    100% {
        transform: translateX(-50%) translateY(-10%);
    }
    }
    
    .gradient-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
    top: 0;
    left: 0;
    z-index: -100;
    
    svg {
        display: none;
    }
    
    .gradients-container {
        filter: url(#goo) blur(40px) ;
        width: 100%;
        height: 100%;
    }
    
    .g1 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
    
        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);
    
        transform-origin: center center;
        animation: moveVertical 30s ease infinite;
    
        opacity: 1;
    }
    
    .g2 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
    
        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);
    
        transform-origin: calc(50% - 400px);
        animation: moveInCircle 20s reverse infinite;
    
        opacity: 1;
    }
    
    .g3 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
    
        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2 + 200px);
        left: calc(50% - var(--circle-size) / 2 - 500px);
    
        transform-origin: calc(50% + 400px);
        animation: moveInCircle 40s linear infinite;
    
        opacity: 1;
    }
    
    .g4 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
    
        width: var(--circle-size);
        height: var(--circle-size);
        top: calc(50% - var(--circle-size) / 2);
        left: calc(50% - var(--circle-size) / 2);
    
        transform-origin: calc(50% - 200px);
        animation: moveHorizontal 40s ease infinite;
    
        opacity: 0.7;
    }
    
    .g5 {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
    
        width: calc(var(--circle-size) * 2);
        height: calc(var(--circle-size) * 2);
        top: calc(50% - var(--circle-size));
        left: calc(50% - var(--circle-size));
    
        transform-origin: calc(50% - 800px) calc(50% + 200px);
        animation: moveInCircle 20s ease infinite;
    
        opacity: 1;
    }
    
    .mouse-interactive {
        position: absolute;
        background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
        mix-blend-mode: var(--blending);
    
        width: 100%;
        height: 100%;
        top: -50%;
        left: -50%;
    
        opacity: 0.7;
    }
}
/* end of background gradients and animations */

/* Text elements */
.text-container {
    z-index: 100;
    width: 99vw;
    height: 99vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Geneva, Tahoma, sans-serif;
    font-size: 3em;
    color: white;
    user-select: none;
}

.text-div-center {
    position: absolute;
    width: 90%;         
    max-width: 1500px;
    text-align: center;     
    transform: translate(-50%, -50%) scale(0.8); 
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

.text-div-left {
    position: absolute;
    width: 80%;
    max-width: 1500px;   
    left: 60%;
    top: 50%;
    text-align: left;     
    transform: translate(-50%, -50%) scale(0.8); 
    transition: opacity 0.5s, transform 0.5s;
}

.text-div-sp {
    position: absolute;
    width: 90%;          
    max-width: 2000px;
    left: 50%;          
    top: 50%;
    margin-top: 3em;
    margin-bottom: 3em;
    transform: translate(-50%, -50%) scale(0.8);
    transition: opacity 0.5s, transform 0.5s;
}

#text0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title {
    font-size: 3em;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#text1 {
    opacity: 1;
    transform: scale(1);
}

#text3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#text4 {
    position: absolute;
    width: 100%;
    top: 50%;
}

/* Buttons */
.button-container {
    display: flex;
    gap: 5em; 
    justify-content: center;
    align-items: center;
}

.outlined-button {
    padding: 1em 2em;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    font-size: 0.9em;
    transition: all 0.3s ease;
    /* cursor: pointer; */
}

.outlined-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}